          
          <div class="news">
            <h2>Educations</h2> 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
                <tr>
                  <th scope="row">Jan, 2023 - now</th>
                  <td>Ph.D. Candidate in Computer Science, KTH Royal Institute of Technology</td>
                <tr>
                <tr>
                  <th scope="row">Aug, 2020 - Sep, 2022</th>
                  <td>M.Sc. in Machine Learning, KTH Royal Institute of Technology</td>
                <tr>
                <tr>
                  <th scope="row">Sep, 2016 - Jul, 2020</th>
                  <td>B.Eng. in Opto-Electronics Information Science and Engineering, Zhejiang University</td>
                </tr> 
              </table>
            </div>
            <h2>Highlighted Experiences</h2> 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
                <tr>
                  <th scope="row">Sep, 2021 - Jan, 2022</th>
                  <td>Master Semester Exchange, ETH Swiss Federal Institute of Technology in Zürich</td>
                <tr>
                <tr>
                  <th scope="row">Jun, 2019 - Jul, 2019</th>
                  <td>Summer Research Intern, Boston University Photonics Center</td>
                </tr> 
              </table>
            </div>
          </div>
